@model Intelectah.Models.Fabricante
@{
    ViewBag.Title = "Excluir Fabricante";
}
<h2>Excluir Fabricante</h2>
<h4>Tem certeza que deseja excluir este fabricante?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>@Model.Nome</dd>
        <dt>País de Origem</dt>
        <dd>@Model.PaisOrigem</dd>
        <dt>Ano de Fundação</dt>
        <dd>@Model.AnoFundacao</dd>
        <dt>Website</dt>
        <dd>@Model.Website</dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Excluir" class="btn btn-danger" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
    }
</div>