@model IEnumerable<Intelectah.Models.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h2>Lista de Clientes</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.CPF</td>
            <td>@item.Endereco</td>
            <td>@item.Telefone</td>
            <td>@item.Email</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteID" class="btn btn-warning btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.ClienteID" class="btn btn-info btn-sm">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.ClienteID" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>