@model Intelectah.Models.Fabricante

@{
    ViewData["Title"] = "Detalhes do Fabricante";
}

<h2>Detalhes do Fabricante</h2>

<div>
    <h4>Fabricante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>
        <dt class="col-sm-2">País de Origem</dt>
        <dd class="col-sm-10">@Model.PaisOrigem</dd>
        <dt class="col-sm-2">Ano de Fundação</dt>
        <dd class="col-sm-10">@Model.AnoFundacao</dd>
        <dt class="col-sm-2">Website</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Website))
            {
                <a href="@Model.Website" target="_blank">@Model.Website</a>
            }
        </dd>
    </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.FabricanteID" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>